# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/

# Environment Variables (Secret Keys)
.env

# Docker Volumes (Database files)
postgres_data/

# MLflow local tracking
mlruns/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db